 <div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <p>
      <img class="poster show" src="<%=@movie.poster_url%>">
    </p>
  </div>

  <div class="col-md-7 box">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @movie.title %>
    </p>

    <p>
      <strong>Release date:</strong>
      <%= @movie.release_date %>
    </p>

    <p>
      <strong>Runtime:</strong>
      <%= @movie.runtime %>
    </p>

    <p>
      <strong>Director:</strong>
      <%= @movie.director %>
    </p>

    <p>
      <strong>Cast:</strong>
      <%= @movie.cast %>
    </p>

    <p>
      <strong>Avg rating:</strong>
      <%= @movie.avg_rating %>
    </p>

    <p>
      <strong>Summary:</strong>
      <%= @movie.summary %>
    </p>

    <p>
      <strong>Creator:</strong>
      <%= @movie.creator_id %>
    </p>


    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %><br><br>
    <% if logged_in? %>
      <form action="/movies/<%= @movie.id %>/reviews/new" method="get">
        <p><button type="submit">Add Review</button></p>
      </form>
    <% else %>
      <%= link_to "Log in to review", login_path %>
    <% end %>

  </div>
  <div class="col-md-1">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <div class="container">
      <h2>Reviews</h2>
    </div>
      <% @reviews.each do |review| %>
      <div class="movie-display container">
        <h3><%= review.title %></h3>
        <p>by: <%= review.reviewer.username %></p>
        <p>Rating: <%= review.rating %></p>
        <p><%= review.content %></p>
      </div>
      <% end %>
  </div>
  <div class="col-md-1">
  </div>
</div>
