<% if @error %>
  <%= @error %>
<% end %>

 <div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <p>
      <img class="poster show" src="<%=@movie.poster_url%>">
    </p>
  </div>

  <div class="col-md-7 box">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @movie.title %>
    </p>

    <p>
      <strong>Avg rating:</strong>
      <%= @movie.avg_rating %>
    </p>

    <p>
      <strong>Summary:</strong>
      <%= @movie.summary %>
    </p>

    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %><br><br>
    <% if logged_in? %>
      <% if current_user.already_reviewed?(@movie) %>
      <% else %>
        <form action="/movies/<%= @movie.id %>/reviews/new" method="get">
          <p><button type="submit">Add Review</button></p>
        </form>
      <% end %>
    <% else %>
      <%= link_to "Log in to review", login_path %>
    <% end %>

    <% unless current_user && current_user.favorites.exists?(movie_id: @movie.id) %>
      <% if current_user %>
        <%= button_to "Add to Favorites", movie_favorites_path(@movie) %>
      <% end %>

      <% else %>
      <%= button_to 'Remove from favorites', movie_favorite_path(@movie, current_user.favorited?(@movie)), {method: "delete"} %>

    <% end %>

  </div>


  <div class="col-md-1">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="container">
      <h2>Reviews</h2>
    </div>
      <% @movie.reviews.each do |review| %>
      <div class="movie-display container">
        <h3><%= review.title %></h3>
        <p>by: <%= review.reviewer.username %></p>
        <p>Rating: <%= review.rating %></p>
        <p><%= review.content %></p>
        <% if logged_in? %>
          <% if current_user.owns_review?(review) %>
            <%= link_to "Edit" %>  |  <%= link_to "Delete" %>
          <% else %>
            <form action="/movies/<%=@movie.id%>/reviews/<%=review.id%>/votes" method="post">
              <input type="hidden" name="value" value="1">
              <input class="thumbs-up" type="submit" value= "&#x1F44D;">
            </form>
            <form action="/movies/<%=@movie.id%>/reviews/<%=review.id%>/votes" method="post">
              <input type="hidden" name="value" value="-1">
              <input class="thumbs-down" type="submit" value="&#x1F44E;">
            </form>
          <% end %>
        <% end %>
        <p class="sm"><%= review.total_votes %> people found this review helpful.</p>
      </div>
      <% end %>
  </div>
  <div class="col-md-1">
  </div>
</div>
<br>
