<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @user.score %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= @user.rank %>
  </p>


<div class="row">

  <div class="panel panel-default col-md-6">
    <h4>Top Reviews</h4>
    <% if @user.reviews %>
      <% @user.reviews.each do |review| %>
        <div class="panel panel-default">
          <strong><%= link_to "#{review.movie.title}", movie_path(review.movie) %></strong><br>
          <strong><%= link_to "#{review.title}", movie_review_path(review.movie, review) %></strong>
          <p><%= truncate(review.content, length:50)%></p>
          <p>Rating: <%= review.rating %> </p>
        </div>
      <% end %>
    <% end %>

  <% if @user.id == session[:user_id] %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
  <% end %>
  <%= link_to 'Back', root_path %>
</div>


<div class="panel panel-default col-md-6">
    <h4>Favorited Movies</h4>

    <% if @user.favorited_movies %>

      <% @user.favorited_movies.each do |favorite| %>
        <div class="panel panel-default">


          <table>
            <tr>
              <td><img class="poster show" src="<%=favorite.poster_url%>"></td>
              <td><center><strong><%= link_to "#{favorite.title}", movie_path(favorite) %></strong></center><br><%= favorite.summary%></td>
          </tr>
        </table>

        </div>
      <% end %>
    <% end %>
  </div>

</div>
